{{#if blogs}}
  {{#each blogs as |blog|}}
    <div data-id="{{id}}" class="card custom-card">
      <a href="/blogs/edit/{{id}}">
        <h5 class="card-header custom-header">{{title}}</h5>
      </a>
    </div>
  {{/each}}
{{else}}
  <h5>There are no blogs currently saved. Why not add one?</h5>
{{/if}}

<button
  type="button"
  class="btn btn-primary btn-lg"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  + New Blog
</button>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header blog-card">
        <h5 class="modal-title" id="staticBackdropLabel">New Blog</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="blog-title" class="form-label">Title:</label>
          <input
            type="text"
            class="form-control"
            id="blog-title"
            placeholder="Title Of Your Blog"
          />
        </div>
        <div class="mb-3">
          <label for="blog-text" class="form-label">Content Of Blog Post:</label>
          <textarea class="form-control" id="blog-text" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          type="button"
          class="btn btn-primary"
          id="newBlogBtn"
        >Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/dashboard.js"></script>