:root {
  --black: #000000;
  --lightblue: #5fc1fa;
  --blue: #51aed3;
  --darkblue: #035b8f;
  --darkerblue: #004053;
}

body {
  background-color: var(--black);
  font-family: "Knewave", cursive;
}

body div a {
  text-decoration: none;
}

header {
  font-family: "Rubik Glitch", cursive;
  background-color: var(--black);
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 0.5em solid var(--darkblue);
}

header a {
  border: 0.2em solid var(--lightblue);
  background-color: var(--lightblue);
  border-radius: 0.25em;
  color: aliceblue;
  margin-left: 1rem;
}

header a:hover {
  transition: 1s;
  background-color: aliceblue;
  border: 0.2em solid aliceblue;
  border-radius: 0.25em;
  color: black;
}

footer {
  font-family: "Rubik Glitch", cursive;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: var(--lightblue);
  border-top: 0.5em solid var(--lightblue);
  color: aliceblue;
  text-shadow: 0.2em 0.2em var(--black);
}
.title {
  font-size: 2em;
}

.choices {
  font-size: 1em;
}

.custom-card {
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  border: 0.5rem solid var(--darkblue);
  border-radius: 0.5em;
}

.custom-header {
  font-family: "Rubik Glitch", cursive;
  background-color: var(--blue);
  color: aliceblue;
  text-shadow: 0.2em 0.2em var(--black);
  border: 0.2em solid var(--black);
  border-radius: 0.5em;
}

.custom-body {
  background-color: var(--black);
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}

.comment-card {
  margin-top: 3em;
  margin-left: 4em;
  margin-right: 4em;
  border: 0.5rem solid var(--darkblue);
  border-radius: 0.5em;
}

.custom-color {
  color: var(--darkblue);
}

.custom-bg {
  background-color: var(--lightblue);
}

.custom-space {
  margin-left: 1rem;
}

.input-space {
  border: 0.5rem solid var(--darkblue);
  border-radius: 0.5em;
  max-width: 75%;
  margin-left: 4em;
  margin-right: 4em;
}

.blog-card {
  font-family: "Rubik Glitch", cursive;
  background-color: var(--blue);
  color: aliceblue;
  text-shadow: 0.2em 0.2em var(--black);
}
